* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-color: #0d1117;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  width: 100%;
  height: 70px;
  background-color: #161b22;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.navbarBtn {
  padding: 10px;
  font-size: 28px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #161b22;
  color: white;
  border: 1px solid #ffffff33;
}
.navbarBtn:hover {
  background-color: #ffffff33;
}
.main {
  display: flex;
  flex-direction: column;
}
.issue {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  padding: 1rem;
  border: 1px inset #777;
  gap: 10px;

  &:hover {
    background-color: #161b22;
  }
  &:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    color: #539bf5;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
      width: 60vw;
      display: flex;
      flex-wrap: wrap;

      gap: 10px;
      .disk {
        width: 20px;
        height: 20px;
        fill: #57ab5a;
        margin-top: 5px;
      }
      a {
        display: flex;
        flex-wrap: wrap;
        &:hover {
          color: #539bf5;
        }
        text-decoration: none;
        font-size: 20px;
        color: #adbac7;
        line-height: 150%;
        font-weight: 700;
      }
      .status {
        cursor: pointer;
        color: #d2c3f9;
        font-size: calc(12px - 2px);
        font-weight: 600;
        padding: 0 0.4rem;
        border: 0.5px solid #d2c3f9;
        border-radius: 20px;
        background-color: #d4c5f918;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .type {
        cursor: pointer;
        padding: 0 0.4rem;
        color: #fd9b9d;
        font-size: calc(12px - 2px);
        font-weight: 600;
        border: 0.2px solid #fd9b9d;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #b6020518;
      }
      .resolution {
        cursor: pointer;
        padding: 0 0.4rem;
        color: #fffde5;
        font-size: calc(12px - 2px);
        font-weight: 600;
        border: 0.2px inset #fffde5;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fffde718;
      }
    }
    .sub-title {
      margin-left: 30px;
      color: #777;
    }
  }
  .comment {
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    gap: 7px;
    color: #aaa;
    svg {
      fill: #aaa;
      width: 22px;
      height: 22px;
      &:hover {
        color: #fffde5;
        fill: #fffde5;
        cursor: pointer;
      }
    }
  }
}
.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    width: 300px;
    height: 150px;
    background-color: #323841;
    border: 1px solid #777;
    color: #777;
    text-align: center;
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Position the tooltip */
    position: absolute;
    top: -150px;
    left: -100px;
    z-index: 1;
    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      img {
        width: 50%;
        border-radius: 50%;
      }

      p {
        font-size: 14px;
        color: #fff;

        &:nth-child(3) {
          font-size: 12px;
          color: #d2c3f9;
        }

        &:nth-child(4) {
          font-size: 10px;
          color: #adbac7;
        }
      }
    }

    .right {
      button {
        padding: 6px 15px;
        background-color: #303338;
        border: 1px solid #777;
        border-radius: 8px;
        color: #aaa;
      }
    }
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}
